server.port: 8080

spring:
  application:
    name: course-hunter-server
  profiles:
    active: dev
  main:
    allow-circular-references: true
  # Cache service setting
  cache:
    cache-names: commonCache
  datasource:
    url: jdbc:mysql://${hunt.datasource.mysql.host}:${hunt.datasource.mysql.port}/${hunt.datasource.mysql.database}
    username: ${hunt.datasource.mysql.username}
    password: ${hunt.datasource.mysql.password}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
        hibernate:
          dialect: org.hibernate.dialect.MySQL8Dialect
  data:
    redis:
      host: ${hunt.datasource.redis.host}
      port: ${hunt.datasource.redis.port}
      password: ${hunt.datasource.redis.password}
      database: ${hunt.datasource.redis.database}
      time-to-live: 60000
Auth:
  ClientId:
    google: ${hunt.security.oauth2.client-id}
    secret: ${hunt.security.oauth2.secret}
    expiration: ${hunt.security.oauth2.expiration}
# swagger-ui custom path
springdoc:
  swagger-ui:
    path : /swagger-ui.html

